body {
    background-color: #282c34;
    color: white;
    padding: 3rem;
    font-family: Arial;
    text-align: center;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    margin-left: 30rem;
}

@media only screen and (max-width: 500px) {
    .todo-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        margin-left: 5rem;
    }
}

.button {
    padding: .2rem;
    margin: .5rem;
    border-radius: .5rem;
}

.input-block {
    margin: 1rem;
}
